{
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "react/jsx-indent": [2, 2],
    "react/no-deprecated": 2,
    "react/prop-types": 1,
    "no-console": 0,
    "indent": [2, 2]
  }
}
